common_storage: &storage_size "50Gi"

node1:
  fullnameOverride: "vm-node1"
  server:
    annotations: 
      argocd.argoproj.io/sync-wave: "1"
    persistentVolume: { enabled: true, size: *storage_size }
  vmagent: { enabled: false }

node2:
  fullnameOverride: "vm-node2"
  server:
    annotations: 
      argocd.argoproj.io/sync-wave: "2"
    persistentVolume: { enabled: true, size: *storage_size }
  vmagent: { enabled: false }

vmauth:
  enabled: true
  fullnameOverride: "vm-gateway"
  replicaCount: 2
  # Annotazione per il Deployment del gateway
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
  updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxSurge: 1       # Crea 1 nuovo pod prima di distruggere i vecchi
        maxUnavailable: 0 # Garantisce che ci siano sempre pod pronti
  config:
    users:
      - username: "node1-user"
        password: "password1"
        url_prefix: "http://vm-node1-server:8428"
      - username: "node2-user"
        password: "password2"
        url_prefix: "http://vm-node2-server:8428"
