# Nodo 1: Solo Storage Server
node1:
  fullnameOverride: "vm-node1"
  server:
    annotations: { argocd.argoproj.io/sync-wave: "1" }
    persistentVolume: { size: 8Gi }
    image:
      tag: "v1.101.0"
  vmagent:
    enabled: false

# Nodo 2: Storage Server + Gateway Auth
node2:
  fullnameOverride: "vm-node2"
  server:
    annotations: { argocd.argoproj.io/sync-wave: "2" }
    persistentVolume: { size: 8Gi }
    image:
      tag: "v1.101.0"
  vmagent:
    enabled: false
  vmauth:
    enabled: true
    replicaCount: 2
    annotations: { argocd.argoproj.io/sync-wave: "2" }
    image:
      tag: "v1.101.0"
    config:
      users:
        - username: "node1-user"
          password: "password1"
          url_prefix: "http://vm-node1-server:8428"
        - username: "node2-user"
          password: "password2"
          url_prefix: "http://vm-node2-server:8428"
