# Nodo 1
node1:
  fullnameOverride: "vm-node1"
  server:
    annotations: { argocd.argoproj.io/sync-wave: "1" }
    persistentVolume: { size: 8Gi }

# Nodo 2
node2:
  fullnameOverride: "vm-node2"
  server:
    annotations: { argocd.argoproj.io/sync-wave: "2" }
    persistentVolume: { size: 8Gi }

# Gateway Indipendente
gateway:
  fullnameOverride: "vm-gateway"
  replicaCount: 2
  annotations: { argocd.argoproj.io/sync-wave: "3" }
  # Questo risolve il crash del template fornendo l'oggetto richiesto
  image:
    repository: victoriametrics/vmauth
    tag: "v1.101.0"
    pullPolicy: IfNotPresent
  config:
    users:
      - username: "node1-user"
        password: "password1"
        url_prefix: "http://vm-node1-victoria-metrics-single-server:8428"
      - username: "node2-user"
        password: "password2"
        url_prefix: "http://vm-node2-victoria-metrics-single-server:8428"
