common_storage: &storage_size "5Gi"

common_probes: &probe_config
  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 15
  readinessProbe:
    initialDelaySeconds: 30
    periodSeconds: 15

node1:
  fullnameOverride: "vm-node1"
  server:
    annotations: 
      argocd.argoproj.io/sync-wave: "1"
    persistentVolume: { enabled: true, size: *storage_size }
    <<: *probe_config
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vm-node1", "vm-node2"]
          topologyKey: "kubernetes.io/hostname"
  vmagent: { enabled: false }

node2:
  fullnameOverride: "vm-node2"
  server:
    annotations: 
      argocd.argoproj.io/sync-wave: "2"
    persistentVolume: { enabled: true, size: *storage_size }
    <<: *probe_config
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vm-node1", "vm-node2"]
          topologyKey: "kubernetes.io/hostname"
  vmagent: { enabled: false }
  
vmauth:
  enabled: true
  fullnameOverride: "vm-gateway"
  
  # Nella 0.25.0, la struttura segue 'server' -> 'deployment' -> 'spec'
  server:
    replicaCount: 2
    deployment:
      spec:
        strategy:
          type: RollingUpdate
          rollingUpdate:
            maxUnavailable: 1
            maxSurge: 1
    
    # Probes (anch'esse sotto server)
    livenessProbe:
      initialDelaySeconds: 5
      tcpSocket:
        port: http
    readinessProbe:
      initialDelaySeconds: 5
      tcpSocket:
        port: http

  # Cambiato in 'preferred' per permettere 2 pod su un singolo nodo (Minikube)
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values: ["vmauth"]
          topologyKey: "kubernetes.io/hostname"

  config:
    unauthorized_user:
      url_prefix: 
        - "http://vm-node1-server:8428"
        - "http://vm-node2-server:8428"
