sharedConfig: &shared
  server:
    persistentVolume:
      enabled: true
      size: 5Gi
    retentionPeriod: 1

node1:
  <<: *shared
  annotations:
    argocd.argoproj.io/sync-wave: "1"

node2:
  <<: *shared
  annotations:
    argocd.argoproj.io/sync-wave: "2"
