node1:
  fullnameOverride: "vm-node1"
  server:
    annotations: { argocd.argoproj.io/sync-wave: "1" }
    persistentVolume: { size: 8Gi }

node2:
  fullnameOverride: "vm-node2"
  server:
    annotations: { argocd.argoproj.io/sync-wave: "2" }
    persistentVolume: { size: 8Gi }

gateway:
  fullnameOverride: "vm-gateway"
  replicaCount: 2
  annotations: { argocd.argoproj.io/sync-wave: "3" }
  # Questo blocco previene l'errore "nil pointer evaluating interface {}.image"
  image:
    repository: victoriametrics/vmauth
    tag: "v1.101.0"
    pullPolicy: IfNotPresent
  config:
    users:
      - username: "node1-user"
        password: "password1"
        url_prefix: "http://vm-node1-victoria-metrics-single-server:8428"
      - username: "node2-user"
        password: "password2"
        url_prefix: "http://vm-node2-victoria-metrics-single-server:8428"
