# Variabili comuni
common_storage: &storage_size "5Gi"

# Definiamo il blocco root security context
common_root_access: &root_access
  server:
    securityContext:
      runAsUser: 0
      runAsGroup: 0
      fsGroup: 0

vlogs-node1:
  fullnameOverride: "vlogs-node1"
  <<: *root_access
  server:
    persistentVolume:
      enabled: true
      size: *storage_size
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vlogs-node1", "vlogs-node2"]
          topologyKey: "kubernetes.io/hostname"

vlogs-node2:
  fullnameOverride: "vlogs-node2"
  <<: *root_access
  server:
    persistentVolume:
      enabled: true
      size: *storage_size
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vlogs-node1", "vlogs-node2"]
          topologyKey: "kubernetes.io/hostname"

vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  replicaCount: 2
  deployment:
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
  probe:
    readiness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
    liveness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
  affinity: {}
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1:9428"
        - "http://vlogs-node2:9428"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
