# Variabili comuni
common_storage: &storage_size "5Gi"

# Definizione dell'InitContainer per il fix dei permessi.
# Deve girare come root per poter eseguire chown sulla cartella dell'host.
common_settings: &node_settings
  server:
    persistentVolume:
      enabled: true
      size: *storage_size
    # Questo garantisce che il processo principale giri come utente 1000
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
  initContainers:
  - name: fix-permissions
    image: busybox
    command: ["sh", "-c", "chown -R 1000:1000 /storage"]
    volumeMounts:
    - name: storage
      mountPath: /storage

vlogs-node1:
  fullnameOverride: "vlogs-node1"
  <<: *node_settings
  server:
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vlogs-node1", "vlogs-node2"]
          topologyKey: "kubernetes.io/hostname"

vlogs-node2:
  fullnameOverride: "vlogs-node2"
  <<: *node_settings
  server:
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vlogs-node1", "vlogs-node2"]
          topologyKey: "kubernetes.io/hostname"

vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  replicaCount: 2
  deployment:
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
  probe:
    readiness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
    liveness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1:9428"
        - "http://vlogs-node2:9428"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
