# --- VICTORIA LOGS NODO 1 (SYNC WAVE 1) ---
vlogs-node1:
  fullnameOverride: "vlogs-node1"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  server:
    podAnnotations:
      test-rollout: "100"
    retentionPeriod: "3"
    extraArgs:
      "http.shutdownDelay": "20s"
    persistentVolume:
      enabled: true
      size: "5Gi"
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      runAsNonRoot: true
    nodeSelector:
      kubernetes.io/hostname: minikube

# --- VICTORIA LOGS NODO 2 (SYNC WAVE 2) ---
vlogs-node2:
  fullnameOverride: "vlogs-node2"
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  server:
    podAnnotations:
      test-rollout: "100"
    retentionPeriod: "3"
    extraArgs:
      "http.shutdownDelay": "20s"
    persistentVolume:
      enabled: true
      size: "5Gi"
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      runAsNonRoot: true
    nodeSelector:
      kubernetes.io/hostname: minikube

# --- GATEWAY VMAUTH (SYNC WAVE 3) ---
vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
  podAnnotations:
    test-rollout: "100"
  replicaCount: 1
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1-server.victoria-logs.svc:9428"
        - "http://vlogs-node2-server.victoria-logs.svc:9428"
