# Variabili comuni
common_storage: &storage_size "5Gi"

common_server_params: &server_params
  persistentVolume:
    enabled: true
    size: *storage_size
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0
  # Forza i pod sul nodo master dove i permessi funzionano
  nodeSelector:
    kubernetes.io/hostname: minikube

vlogs-node1:
  fullnameOverride: "vlogs-node1"
  server:
    <<: *server_params

vlogs-node2:
  fullnameOverride: "vlogs-node2"
  server:
    <<: *server_params

vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  replicaCount: 2
  deployment:
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
  probe:
    readiness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
    liveness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1:9428"
        - "http://vlogs-node2:9428"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
