# Variabili comuni
common_storage: &storage_size "5Gi"

# Parametri condivisi per VictoriaLogs
common_server_params: &server_params
  server:
    # Imposta la retention a 3 mesi
    retentionPeriod: "3m"
    persistentVolume:
      enabled: true
      size: *storage_size
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      runAsNonRoot: true
    # Forza l'esecuzione sul nodo master di Minikube
    nodeSelector:
      kubernetes.io/hostname: minikube

# Configurazione Nodo 1
vlogs-node1:
  fullnameOverride: "vlogs-node1"
  server:
    <<: *server_params

# Configurazione Nodo 2
vlogs-node2:
  fullnameOverride: "vlogs-node2"
  server:
    <<: *server_params

# Configurazione Gateway (vmauth)
vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  replicaCount: 2
  deployment:
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
  probe:
    readiness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
    liveness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1-server.victoria-logs.svc:9428"
        - "http://vlogs-node2-server.victoria-logs.svc:9428"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
