# values.yaml
common_storage: &storage_size "5Gi"

common_server_params: &server_params
  podAnnotations:
    test-rollout: "10"
  server:
    retentionPeriod: "3"
    extraArgs:
      http.ShutdownDelay: "20s"
    persistentVolume:
      enabled: true
      size: *storage_size
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
      runAsNonRoot: true
    nodeSelector:
      kubernetes.io/hostname: minikube

# WAVE 1
vlogs-node1:
  fullnameOverride: "vlogs-node1"
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  server:
    <<: *server_params

# WAVE 2
vlogs-node2:
  fullnameOverride: "vlogs-node2"
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  server:
    <<: *server_params

# WAVE 3
vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
  podAnnotations:
    test-rollout: "10"
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1-server.victoria-logs.svc:9428"
        - "http://vlogs-node2-server.victoria-logs.svc:9428"
