# Variabili comuni
common_storage: &storage_size "5Gi"

# Definiamo i parametri interni al blocco server per evitare sovrascritture
common_server_params: &server_params
  persistentVolume:
    enabled: true
    size: *storage_size
  securityContext:
    runAsUser: 0
    runAsGroup: 0
    fsGroup: 0

vlogs-node1:
  fullnameOverride: "vlogs-node1"
  server:
    <<: *server_params
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vlogs-node1", "vlogs-node2"]
          topologyKey: "kubernetes.io/hostname"

vlogs-node2:
  fullnameOverride: "vlogs-node2"
  server:
    <<: *server_params
    affinity:
      podAntiAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
            - key: app.kubernetes.io/instance
              operator: In
              values: ["vlogs-node1", "vlogs-node2"]
          topologyKey: "kubernetes.io/hostname"

vmauth:
  enabled: true
  fullnameOverride: "vl-gateway"
  replicaCount: 2
  deployment:
    spec:
      strategy:
        type: RollingUpdate
        rollingUpdate:
          maxUnavailable: 1
          maxSurge: 1
  probe:
    readiness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
    liveness:
      tcpSocket:
        port: http
      initialDelaySeconds: 10
  config:
    unauthorized_user:
      url_prefix: 
        - "http://vlogs-node1:9428"
        - "http://vlogs-node2:9428"
  annotations: 
    argocd.argoproj.io/sync-wave: "3"
