{{- range .Values.nodes }}
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "vm-svc-%s" (last (splitList "-" .name)) }}
  namespace: {{ $.Release.Namespace }}
spec:
  ports:
    - port: 8429
      targetPort: 8429
  selector:
    app: victoriametrics
    instance: {{ .name }}
---
{{- end }}
apiVersion: v1
kind: Service
metadata:
  name: vm-read-lb
  namespace: {{ .Release.Namespace }}
spec:
  type: NodePort
  ports:
    - port: 8429
      targetPort: 8429
      nodePort: 30429
  selector:
    app: victoriametrics
